<div class="dashboard">
    <h2>Hourly Sales</h2>
    <div class="chart-container">
<canvas id="hourlySalesChart" width="300" height="300"></canvas>
    </div>

    <h2>Sales by Station</h2>
    <div class="stations">
        <div class="station">
            <div class="station-info">
                <div class="icon">
                    <img
                        src="https://cdn-sharing.adobecc.com/content/storage/id/urn:aaid:sc:US:372228fd-9afe-4a10-b251-af977b41e290;revision=0?component_id=0ddadf50-e08d-4561-aa36-a02f4d315a8e&api_key=CometServer1&access_token=1731378393_urn%3Aaaid%3Asc%3AUS%3A372228fd-9afe-4a10-b251-af977b41e290%3Bpublic_3c96c242a242f2fe2559c122d6437a9be92ed56b"
                        alt="Station Icon"  />
                    <p class="station-name">Station Name</p>
                </div>
                <p class="station-value">62,721 m³</p>
            </div>
            <div class="progress-bar">
                <div class="progress"></div>
            </div>
        </div>
        <div class="station">
            <div class="station-info">
            <div class="icon"><img
                    src="https://cdn-sharing.adobecc.com/content/storage/id/urn:aaid:sc:US:372228fd-9afe-4a10-b251-af977b41e290;revision=0?component_id=0ddadf50-e08d-4561-aa36-a02f4d315a8e&api_key=CometServer1&access_token=1731378393_urn%3Aaaid%3Asc%3AUS%3A372228fd-9afe-4a10-b251-af977b41e290%3Bpublic_3c96c242a242f2fe2559c122d6437a9be92ed56b"
                    alt="Station Icon"  >
                <p class="station-name">Station Name</p>
            </div>
                <p class="station-value">62,721 m³</p>
            </div>
            <div class="progress-bar">
                <div class="progress"></div>
            </div>
        </div>
        <div class="station">
            <div class="station-info">
                <div class="icon">
                    <img src="https://cdn-sharing.adobecc.com/content/storage/id/urn:aaid:sc:US:372228fd-9afe-4a10-b251-af977b41e290;revision=0?component_id=0ddadf50-e08d-4561-aa36-a02f4d315a8e&api_key=CometServer1&access_token=1731378393_urn%3Aaaid%3Asc%3AUS%3A372228fd-9afe-4a10-b251-af977b41e290%3Bpublic_3c96c242a242f2fe2559c122d6437a9be92ed56b" alt="Station Icon" >
                <p class="station-name">Station Name</p></div>
                
                <p class="station-value">NM</p>
            </div>
            <div class="progress-bar">
                <div class="progress"></div>
            </div>
        </div>
    </div>
</div>